.root {
    -fx-background-color: #0A0A0A;
}

.menu-bar {
    -fx-background-color: black;
    -fx-border-radius: 10px;
}

.menu {
    -fx-font-size: 32;
    -fx-fill-color: red;
    -fx-background-color: black;
}

.top-right-aligned {
}


#bmiHeaderText {
    -fx-font-size: 128;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Franklin Gothic Heavy";
    -fx-alignment: top-right;
    -fx-start-margin: 250px;
}